<section>

    <ul class='breadcrumb'>
        <li class='active'>Home</li>
    </ul>

    <ul class='nav nav-tabs nav-stacked selection'>
        <li><a href='./#/instances'>Instances</a></li>
    </ul>

</section>
