<div class='col-md-3'>

    <div class='input-group'>

        <input type='text' class='form-control' placeholder='Search' data-id='query-string' value='{{query}}' />

        <span class='input-group-btn'>
            <button class='btn btn-default' type='button' data-action='search' title='Search'>
                <span class='glyphicon glyphicon-search'></span>
            </button>
        </span>

    </div>

</div>
