<div class='pull-right'>

    <div class='input-append'>

        <input type='text' class='span2' placeholder='Search' data-id='query-string' value='{{query}}' />

        <button class='btn' data-action='search' title='Search'>
            <i class='icon-search'></i>
        </button>

    </div>

</div>
