<div class='row'>

    <div class='col-md-2'>

        <time>{{date first.timestamp false}}</time>

    </div>

    <div class='center text-center'>. . .</div>

    <div class='col-md-3 pull-right'>

        <time class='pull-right'>{{date last.timestamp false}} (+ {{duration last.timestamp first.timestamp}})</time>

    </div>

</div>
