<div class='btn-group pull-right'>

    <button type='button' class='btn btn-default btn-sm dropdown-toggle' data-toggle='dropdown'>
        <span class='glyphicon glyphicon-user'></span> {{username}} <span class='caret'></span>
    </button>

    <ul class='dropdown-menu' role='menu'>
        <li><a href='./#/' data-action='logout'>Sign Out</a></li>
    </ul>

</div>
